@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: 1rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #fff;
    --clr-bg-pri: #243546;
    --clr-bg-sec: #f3fafa;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #009885;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    font-size: var(--a-fs);
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  transparent;
    border: 1px solid var(--clr-bg-pri);
    width: 100%;
    color: var(--clr-bg-pri);
    font-size: var(--a-fs);
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

.container {
    display: flex;
}

nav ul {
    width: 6rem;
    padding: 2rem;
    color: #fff;
    background: var(--clr-bg-pri);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 5vh;
}

nav li {
    writing-mode: tb-rl;
    transform: scale(-1, -1);
    padding: .5rem;
    cursor: pointer;
}

main {
    margin: 2rem 0 2rem 4rem;
    display: grid;
    grid-template-columns: minmax(200px, 240px) 2fr;
    grid-template-rows: 20% auto;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
    color: var(--clr-bg-pri);
    margin-bottom: 2rem;
}
